[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[0EB62E35B62E1E29]
row=0
col=0

[google-drive://gmb2167@columbia.edu/]
row=4
col=17

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/grey]
row=3
col=0

